<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- limk STYLE FONT: nerko one -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet"> 
    <!-- link CSS -->
    <link rel="stylesheet" href="./style.css">
    <!-- link VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <header>
            <img src="./img/logo.png" alt="logo-spotify">
        </header>
        
        <div class="container">
            <div class="filtro-genere">
                Filter by genre
                <select v-model="genereAttuale" @change="filtroGenere">
                    <option value="all">All</option>
                    <option value="pop">Pop</option>
                    <option value="rock">Rock</option>
                    <option value="metal">Metal</option>
                    <option value="jazz">Jazz</option>
                </select>
            </div>

            <ul class="lista-cd" v-if="arrayCD.length > 0"> <!-- se condizione true stampa lista cd in v-for -->
                <li class="cd" v-for="cd in arrayCD">
                    <div class="wrap-image">
                        <img :src="cd.poster" :alt="cd.title">
                    </div>
                    <h3 class="title">{{cd.title}}</h3>
                    <div class="autore">{{cd.author}} </div>
                    <div class="anno">{{cd.year}} </div>
                    <div class="genere">{{cd.genre}} </div>
                </li>
            </ul>
            <h2 v-else class="loader"> Caricamento, attendere...</h2>
        </div>
    </div>

    <!-- link js Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- LINK js -->
    <script src="./main.js"></script>
</body>
</html>