*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #192d3c;
    color: white;
    font-family: 'Nerko One', cursive;
}


/* UTILITIES */


img{
    max-width: 100%;
}

/* layout */
#app header {
    padding: 10px;
    background-color: #2b3a47;
}

#app header img {
    max-width: 35px;
}

/* lista cd */
.lista-cd{
    display: flex; /* gli elementi figli flettono */
    flex-wrap: wrap; /* distribuzione automatica degli elementi (a capo) */
    justify-content: center;
    padding: 50px 10px;
    list-style: none;
}

.cd{
    flex-basis: 200px;
    background-color: #2b3a47;;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.cd .title{
    text-transform: uppercase;
}

.cd .autore,
.cd .anno{
    color: #808080;
    margin-bottom: 15px;
}

.cd .autore{
    font-size: 20px;
}

/* filtro */

.filtro-genere{
    text-align: center;
    margin-top: 50px;
    
}

.filtro-genere select{
    margin-left: 20px;
}